# File: makemyreport-project/.gitignore

# Node modules folders
/frontend/node_modules
/backend/node_modules

# Environment variables
/frontend/.env
/backend/.env

# Build files
/frontend/build

backend/firebase-service-account.json
backend/firebase-service-account.json.json